.img {
    width: 180px;
}

.text-noti{
    float: right;
    font-size: 17px;
    margin-top: 30px;
}

.action {
    float: right;
    font-size: 20px;
    transition:1s;
}

.img-success {
    width: 50px;
}