<div class="content-div">
    <span style="font-size: 15px;">Câu hỏi</span><br>
    <mat-form-field class="form-input">
        <textarea matInput placeholder="Textarea" [(ngModel)]="tencauhoi"></textarea>
    </mat-form-field>
    <button style="margin-right: 5px;" mat-raised-button color="primary" (click)="actionCauHoi()"
        [disabled]="tencauhoi === ''">{{textBtnCauHoi}}</button>
</div>
<div class="content-dapan" *ngIf="isCauHoi">
    <span style="font-size: 15px;">Danh sách câu trả lời</span><br>
    <div class="content-div">
        <ng-container>
            <div *ngFor="let item of dsCauTraLoi">
                <mat-form-field class="form-input-tl">
                    <input matInput placeholder="Câu trả lời" [(ngModel)]="item.tencautl">
                </mat-form-field>
                <mat-checkbox [(ngModel)]="item.isDapAn">Đáp án đúng</mat-checkbox>
                <button (click)="xoaDapAn(item)">
                    <mat-icon>highlight_off</mat-icon>
                </button>
            </div>
        </ng-container>
    </div>
    <button (click)="themDapAn()" [disabled]="checkDapAnRequired()">
        <mat-icon>add_circle</mat-icon>
        <span style="font-size: 15px;">Thêm đáp án</span>
    </button>

</div>
<div style="float: right; ">
    <button style="margin-right: 5px;" [disabled]="checkBtnClose()" mat-raised-button color="primary" (click)="huy()">Đóng</button>
</div>