<div class="content">
    <form>
        <span class="login100-form-title">
            Liên hệ chúng tôi
        </span>
        <div class="example-container form-filed">
            <mat-form-field class="input-filed">
                <input matInput placeholder="Email của bạn" required>
                <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
            </mat-form-field>
        </div>

        <div class="example-container form-filed">
            <mat-form-field class="input-filed">
                <textarea matInput placeholder="Nội dung phản hồi "></textarea>
            </mat-form-field>
        </div>
        <div class="container-login100-form-btn">
            <button class="login100-form-btn">
                Gửi phản hồi
            </button>
        </div>
    </form>
</div>  