USE [master]
GO
/****** Object:  Database [WebLapTrinh]    Script Date: 1/1/2020 10:30:55 PM ******/
CREATE DATABASE [WebLapTrinh]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebLapTrinh', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\WebLapTrinh.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WebLapTrinh_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\WebLapTrinh_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebLapTrinh].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebLapTrinh]
GO
/****** Object:  Table [dbo].[BieuDoTheoDoi]    Script Date: 1/1/2020 10:30:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BieuDoTheoDoi](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idTaiKhoan] [int] NOT NULL,
	[Thu2] [int] NOT NULL,
	[Thu3] [int] NOT NULL,
	[Thu4] [int] NOT NULL,
	[Thu5] [int] NOT NULL,
	[Thu6] [int] NOT NULL,
	[Thu7] [int] NOT NULL,
	[ChuNhat] [int] NOT NULL,
	[NgayBatDau] [date] NOT NULL,
 CONSTRAINT [PK_BieuDoTheoDoi] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CapDo]    Script Date: 1/1/2020 10:30:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CapDo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tencapdo] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_CapDo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DSBaiHoc]    Script Date: 1/1/2020 10:30:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DSBaiHoc](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tenbaihoc] [nvarchar](100) NOT NULL,
	[idkhoahoc] [int] NOT NULL,
 CONSTRAINT [PK_DSBaiHoc] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DSBaiHocPass_Of_TaiKhoan]    Script Date: 1/1/2020 10:30:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DSBaiHocPass_Of_TaiKhoan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idTTTaiKhoan] [int] NOT NULL,
	[idBaiHoc] [int] NULL,
 CONSTRAINT [PK_DSBaiHocPass_Of_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DSBanBe]    Script Date: 1/1/2020 10:30:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DSBanBe](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idbanbe] [int] NOT NULL,
	[idaccount] [int] NOT NULL,
	[yeucau] [bit] NOT NULL,
 CONSTRAINT [PK_DSBanBe] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DSCauHoi]    Script Date: 1/1/2020 10:30:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DSCauHoi](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tencauhoi] [nvarchar](max) NOT NULL,
	[idbaihoc] [int] NOT NULL,
	[idcapdo] [int] NOT NULL,
 CONSTRAINT [PK_DSCauHoi] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DSDapAn]    Script Date: 1/1/2020 10:30:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DSDapAn](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idcauhoi] [int] NOT NULL,
	[cautraloi] [nvarchar](max) NOT NULL,
	[dapan] [bit] NOT NULL,
 CONSTRAINT [PK_DSDapAn] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DSKhoaHocPass_Of_TaiKhoan]    Script Date: 1/1/2020 10:30:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DSKhoaHocPass_Of_TaiKhoan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idTTTaiKhoan] [int] NOT NULL,
	[idKhoaHoc] [int] NULL,
 CONSTRAINT [PK_DSKhoaHocPass_Of_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DSThongBao]    Script Date: 1/1/2020 10:30:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DSThongBao](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idaccount] [int] NOT NULL,
	[thongbao] [nvarchar](max) NOT NULL,
	[docthongbao] [bit] NOT NULL,
 CONSTRAINT [PK_DSThongBao] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DSYeuCauKetBan]    Script Date: 1/1/2020 10:30:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DSYeuCauKetBan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idaccount] [int] NOT NULL,
	[idbanbe] [int] NOT NULL,
	[yeucau] [bit] NOT NULL,
 CONSTRAINT [PK_DSYeuCauKetBan] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhoaHoc]    Script Date: 1/1/2020 10:30:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KhoaHoc](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tenkhoahoc] [nvarchar](50) NOT NULL,
	[imgKhoaHoc] [varchar](500) NULL,
 CONSTRAINT [PK_KhoaHoc] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LoaiDiemKN]    Script Date: 1/1/2020 10:30:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiDiemKN](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[diemKN] [int] NOT NULL,
 CONSTRAINT [PK_LoaiDiemKN] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhanHoi]    Script Date: 1/1/2020 10:30:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PhanHoi](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[noidung] [nvarchar](max) NOT NULL,
	[trangthai] [bit] NOT NULL,
 CONSTRAINT [PK_PhanHoi] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 1/1/2020 10:30:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](100) NOT NULL,
	[password] [varchar](100) NOT NULL,
	[email] [varchar](200) NULL,
	[img] [varchar](200) NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ThongTinTaiKhoan]    Script Date: 1/1/2020 10:30:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinTaiKhoan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idkhoahoc] [int] NOT NULL,
	[idcapdo] [int] NOT NULL,
	[diemKN] [int] NOT NULL,
	[diemKNDay] [int] NULL,
	[idtaikhoan] [int] NOT NULL,
	[ngayhoc] [date] NULL,
 CONSTRAINT [PK_ThongTinTaiKhoan] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[BieuDoTheoDoi] ON 

INSERT [dbo].[BieuDoTheoDoi] ([id], [idTaiKhoan], [Thu2], [Thu3], [Thu4], [Thu5], [Thu6], [Thu7], [ChuNhat], [NgayBatDau]) VALUES (1, 1, 23, 43, 43, 56, 64, 64, 23, CAST(N'2019-12-16' AS Date))
SET IDENTITY_INSERT [dbo].[BieuDoTheoDoi] OFF
SET IDENTITY_INSERT [dbo].[CapDo] ON 

INSERT [dbo].[CapDo] ([id], [tencapdo]) VALUES (1, N'Dễ')
INSERT [dbo].[CapDo] ([id], [tencapdo]) VALUES (2, N'Trung Bình')
INSERT [dbo].[CapDo] ([id], [tencapdo]) VALUES (3, N'Khó')
SET IDENTITY_INSERT [dbo].[CapDo] OFF
SET IDENTITY_INSERT [dbo].[DSBaiHoc] ON 

INSERT [dbo].[DSBaiHoc] ([id], [tenbaihoc], [idkhoahoc]) VALUES (1, N'Syntax', 3)
INSERT [dbo].[DSBaiHoc] ([id], [tenbaihoc], [idkhoahoc]) VALUES (2, N'Arrays', 3)
INSERT [dbo].[DSBaiHoc] ([id], [tenbaihoc], [idkhoahoc]) VALUES (3, N'Loop', 3)
SET IDENTITY_INSERT [dbo].[DSBaiHoc] OFF
SET IDENTITY_INSERT [dbo].[DSBaiHocPass_Of_TaiKhoan] ON 

INSERT [dbo].[DSBaiHocPass_Of_TaiKhoan] ([id], [idTTTaiKhoan], [idBaiHoc]) VALUES (1, 1, 2)
INSERT [dbo].[DSBaiHocPass_Of_TaiKhoan] ([id], [idTTTaiKhoan], [idBaiHoc]) VALUES (2, 1, 3)
INSERT [dbo].[DSBaiHocPass_Of_TaiKhoan] ([id], [idTTTaiKhoan], [idBaiHoc]) VALUES (3, 2, 1)
SET IDENTITY_INSERT [dbo].[DSBaiHocPass_Of_TaiKhoan] OFF
SET IDENTITY_INSERT [dbo].[DSBanBe] ON 

INSERT [dbo].[DSBanBe] ([id], [idbanbe], [idaccount], [yeucau]) VALUES (2, 4, 1, 1)
INSERT [dbo].[DSBanBe] ([id], [idbanbe], [idaccount], [yeucau]) VALUES (4, 3, 2, 1)
INSERT [dbo].[DSBanBe] ([id], [idbanbe], [idaccount], [yeucau]) VALUES (5, 4, 2, 1)
SET IDENTITY_INSERT [dbo].[DSBanBe] OFF
SET IDENTITY_INSERT [dbo].[DSCauHoi] ON 


INSERT [dbo].[DSCauHoi] ([id], [tencauhoi], [idbaihoc], [idcapdo]) VALUES (16, N'Để viết script PHP cần khai báo?', 33, 1)
INSERT [dbo].[DSCauHoi] ([id], [tencauhoi], [idbaihoc], [idcapdo]) VALUES (17, N'Đâu là khai báo biến đúng trong PHP', 33, 1)
INSERT [dbo].[DSCauHoi] ([id], [tencauhoi], [idbaihoc], [idcapdo]) VALUES (18, N'<code>$xinChao = "Học lập trình thật vui";<br><strong>____</strong> $xinChao;</code>. Điền từ khóa in biến xinChao', 33, 1)
GO
SET IDENTITY_INSERT [dbo].[DSCauHoi] OFF
SET IDENTITY_INSERT [dbo].[DSDapAn] ON 

INSERT [dbo].[DSDapAn] ([id], [idcauhoi], [cautraloi], [dapan]) VALUES (1, 46, N'x += 1', 1)
INSERT [dbo].[DSDapAn] ([id], [idcauhoi], [cautraloi], [dapan]) VALUES (2, 46, N'x =+ 1', 0)
INSERT [dbo].[DSDapAn] ([id], [idcauhoi], [cautraloi], [dapan]) VALUES (3, 46, N'x = 1', 0)
GO

SET IDENTITY_INSERT [dbo].[DSDapAn] OFF
SET IDENTITY_INSERT [dbo].[DSKhoaHocPass_Of_TaiKhoan] ON 

INSERT [dbo].[DSKhoaHocPass_Of_TaiKhoan] ([id], [idTTTaiKhoan], [idKhoaHoc]) VALUES (1, 1, 3)
INSERT [dbo].[DSKhoaHocPass_Of_TaiKhoan] ([id], [idTTTaiKhoan], [idKhoaHoc]) VALUES (2, 1, 5)
INSERT [dbo].[DSKhoaHocPass_Of_TaiKhoan] ([id], [idTTTaiKhoan], [idKhoaHoc]) VALUES (3, 1, 9)
SET IDENTITY_INSERT [dbo].[DSKhoaHocPass_Of_TaiKhoan] OFF
SET IDENTITY_INSERT [dbo].[DSThongBao] ON 

INSERT [dbo].[DSThongBao] ([id], [idaccount], [thongbao], [docthongbao]) VALUES (1, 1, N'Con rat nhieu khoa hoc bo ich. Hay dang ky them de duoc trai nghiem.', 1)
INSERT [dbo].[DSThongBao] ([id], [idaccount], [thongbao], [docthongbao]) VALUES (2, 1, N'Hay moi nhung nguoi ban cua ban cung tham gia khoa hoc.', 1)
INSERT [dbo].[DSThongBao] ([id], [idaccount], [thongbao], [docthongbao]) VALUES (3, 2, N'Con rat nhieu khoa hoc bo ich. Hay dang ky them de duoc trai nghiem.', 1)
SET IDENTITY_INSERT [dbo].[DSThongBao] OFF
SET IDENTITY_INSERT [dbo].[DSYeuCauKetBan] ON 

INSERT [dbo].[DSYeuCauKetBan] ([id], [idaccount], [idbanbe], [yeucau]) VALUES (3, 2, 4, 1)
INSERT [dbo].[DSYeuCauKetBan] ([id], [idaccount], [idbanbe], [yeucau]) VALUES (4, 3, 2, 1)
INSERT [dbo].[DSYeuCauKetBan] ([id], [idaccount], [idbanbe], [yeucau]) VALUES (5, 3, 4, 1)
SET IDENTITY_INSERT [dbo].[DSYeuCauKetBan] OFF
SET IDENTITY_INSERT [dbo].[KhoaHoc] ON 

INSERT [dbo].[KhoaHoc] ([id], [tenkhoahoc], [imgKhoaHoc]) VALUES (1, N'SQL ', N'https://phanmemmoi.com/wp-content/uploads/SQL-Server.png')
INSERT [dbo].[KhoaHoc] ([id], [tenkhoahoc], [imgKhoaHoc]) VALUES (2, N'C#', N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEQm0locnJ2Lvz-cmdHlDxpgYEYZNV4-VermFgZmYVGRhM_Lfr&s')
INSERT [dbo].[KhoaHoc] ([id], [tenkhoahoc], [imgKhoaHoc]) VALUES (3, N'C/C++ ', N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsounbNTcpyrBmXd_L310tWQAAB0_yEpX9YQ_459uQj8CXeixl&s')
SET IDENTITY_INSERT [dbo].[KhoaHoc] OFF
SET IDENTITY_INSERT [dbo].[LoaiDiemKN] ON 

INSERT [dbo].[LoaiDiemKN] ([id], [diemKN]) VALUES (1, 30)
INSERT [dbo].[LoaiDiemKN] ([id], [diemKN]) VALUES (2, 65)
INSERT [dbo].[LoaiDiemKN] ([id], [diemKN]) VALUES (3, 95)
SET IDENTITY_INSERT [dbo].[LoaiDiemKN] OFF
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([id], [username], [password], [email], [img]) VALUES (1, N'user1', N'1234', N'user1@gmail', N'xxxx')
INSERT [dbo].[TaiKhoan] ([id], [username], [password], [email], [img]) VALUES (2, N'user2', N'1234', N'user2@gmail', N'xxx')
INSERT [dbo].[TaiKhoan] ([id], [username], [password], [email], [img]) VALUES (3, N'user3', N'1234', NULL, NULL)
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
SET IDENTITY_INSERT [dbo].[ThongTinTaiKhoan] ON 

INSERT [dbo].[ThongTinTaiKhoan] ([id], [idkhoahoc], [idcapdo], [diemKN], [diemKNDay], [idtaikhoan], [ngayhoc]) VALUES (1, 3, 1, 2, 40, 3, CAST(N'2019-12-23' AS Date))
INSERT [dbo].[ThongTinTaiKhoan] ([id], [idkhoahoc], [idcapdo], [diemKN], [diemKNDay], [idtaikhoan], [ngayhoc]) VALUES (2, 1, 1, 2, 54, 2, CAST(N'2019-12-23' AS Date))
INSERT [dbo].[ThongTinTaiKhoan] ([id], [idkhoahoc], [idcapdo], [diemKN], [diemKNDay], [idtaikhoan], [ngayhoc]) VALUES (3, 6, 3, 3, 52, 4, CAST(N'2019-12-23' AS Date))
SET IDENTITY_INSERT [dbo].[ThongTinTaiKhoan] OFF
ALTER TABLE [dbo].[BieuDoTheoDoi]  WITH CHECK ADD  CONSTRAINT [FK_BieuDoTheoDoi_TaiKhoan] FOREIGN KEY([idTaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([id])
GO
ALTER TABLE [dbo].[BieuDoTheoDoi] CHECK CONSTRAINT [FK_BieuDoTheoDoi_TaiKhoan]
GO
ALTER TABLE [dbo].[DSBaiHoc]  WITH CHECK ADD  CONSTRAINT [FK_DSBaiHoc_KhoaHoc] FOREIGN KEY([idkhoahoc])
REFERENCES [dbo].[KhoaHoc] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DSBaiHoc] CHECK CONSTRAINT [FK_DSBaiHoc_KhoaHoc]
GO
ALTER TABLE [dbo].[DSBaiHocPass_Of_TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_DSBaiHocPass_Of_TaiKhoan_ThongTinTaiKhoan] FOREIGN KEY([idTTTaiKhoan])
REFERENCES [dbo].[ThongTinTaiKhoan] ([id])
GO
ALTER TABLE [dbo].[DSBaiHocPass_Of_TaiKhoan] CHECK CONSTRAINT [FK_DSBaiHocPass_Of_TaiKhoan_ThongTinTaiKhoan]
GO
ALTER TABLE [dbo].[DSBanBe]  WITH CHECK ADD  CONSTRAINT [FK_DSBanBe_TaiKhoan] FOREIGN KEY([idaccount])
REFERENCES [dbo].[TaiKhoan] ([id])
GO
ALTER TABLE [dbo].[DSBanBe] CHECK CONSTRAINT [FK_DSBanBe_TaiKhoan]
GO
ALTER TABLE [dbo].[DSCauHoi]  WITH CHECK ADD  CONSTRAINT [FK_DSCauHoi_CapDo] FOREIGN KEY([idcapdo])
REFERENCES [dbo].[CapDo] ([id])
GO
ALTER TABLE [dbo].[DSCauHoi] CHECK CONSTRAINT [FK_DSCauHoi_CapDo]
GO
ALTER TABLE [dbo].[DSCauHoi]  WITH CHECK ADD  CONSTRAINT [FK_DSCauHoi_DSBaiHoc] FOREIGN KEY([idbaihoc])
REFERENCES [dbo].[DSBaiHoc] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DSCauHoi] CHECK CONSTRAINT [FK_DSCauHoi_DSBaiHoc]
GO
ALTER TABLE [dbo].[DSDapAn]  WITH CHECK ADD  CONSTRAINT [FK_DSDapAn_DSCauHoi] FOREIGN KEY([idcauhoi])
REFERENCES [dbo].[DSCauHoi] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DSDapAn] CHECK CONSTRAINT [FK_DSDapAn_DSCauHoi]
GO
ALTER TABLE [dbo].[DSKhoaHocPass_Of_TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_DSKhoaHocPass_Of_TaiKhoan_ThongTinTaiKhoan] FOREIGN KEY([idTTTaiKhoan])
REFERENCES [dbo].[ThongTinTaiKhoan] ([id])
GO
ALTER TABLE [dbo].[DSKhoaHocPass_Of_TaiKhoan] CHECK CONSTRAINT [FK_DSKhoaHocPass_Of_TaiKhoan_ThongTinTaiKhoan]
GO
ALTER TABLE [dbo].[DSThongBao]  WITH CHECK ADD  CONSTRAINT [FK_DSThongBao_TaiKhoan] FOREIGN KEY([idaccount])
REFERENCES [dbo].[TaiKhoan] ([id])
GO
ALTER TABLE [dbo].[DSThongBao] CHECK CONSTRAINT [FK_DSThongBao_TaiKhoan]
GO
ALTER TABLE [dbo].[DSYeuCauKetBan]  WITH CHECK ADD  CONSTRAINT [FK_DSYeuCauKetBan_TaiKhoan] FOREIGN KEY([idaccount])
REFERENCES [dbo].[TaiKhoan] ([id])
GO
ALTER TABLE [dbo].[DSYeuCauKetBan] CHECK CONSTRAINT [FK_DSYeuCauKetBan_TaiKhoan]
GO
ALTER TABLE [dbo].[ThongTinTaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_ThongTinTaiKhoan_CapDo] FOREIGN KEY([idcapdo])
REFERENCES [dbo].[CapDo] ([id])
GO
ALTER TABLE [dbo].[ThongTinTaiKhoan] CHECK CONSTRAINT [FK_ThongTinTaiKhoan_CapDo]
GO
ALTER TABLE [dbo].[ThongTinTaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_ThongTinTaiKhoan_KhoaHoc] FOREIGN KEY([idkhoahoc])
REFERENCES [dbo].[KhoaHoc] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ThongTinTaiKhoan] CHECK CONSTRAINT [FK_ThongTinTaiKhoan_KhoaHoc]
GO
ALTER TABLE [dbo].[ThongTinTaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_ThongTinTaiKhoan_LoaiDiemKN] FOREIGN KEY([diemKN])
REFERENCES [dbo].[LoaiDiemKN] ([id])
GO
ALTER TABLE [dbo].[ThongTinTaiKhoan] CHECK CONSTRAINT [FK_ThongTinTaiKhoan_LoaiDiemKN]
GO
ALTER TABLE [dbo].[ThongTinTaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_ThongTinTaiKhoan_TaiKhoan] FOREIGN KEY([idtaikhoan])
REFERENCES [dbo].[TaiKhoan] ([id])
GO
ALTER TABLE [dbo].[ThongTinTaiKhoan] CHECK CONSTRAINT [FK_ThongTinTaiKhoan_TaiKhoan]
GO
/****** Object:  StoredProcedure [dbo].[ACCOUNT_LOGIN]    Script Date: 1/1/2020 10:30:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ACCOUNT_LOGIN] (
	@user varchar(100),
	@pass varchar(100)
)
AS BEGIN 
	SELECT TOP 1 id, username, [password], img, email
	FROM TaiKhoan 
	WHERE username = @user AND [password] = @pass 
END 

GO
/****** Object:  StoredProcedure [dbo].[Delete_BanBe]    Script Date: 1/1/2020 10:30:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Delete_BanBe] ( @idbanbe int, @idaccount int)
AS BEGIN
	DELETE DSBanBe WHERE idbanbe = @idbanbe AND idaccount = @idaccount 
END
GO
/****** Object:  StoredProcedure [dbo].[Delete_YeuCauKetBan]    Script Date: 1/1/2020 10:30:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Delete_YeuCauKetBan] ( @idbanbe int, @idaccount int)
AS BEGIN
	DELETE DSYeuCauKetBan WHERE idbanbe = @idbanbe AND idaccount = @idaccount AND yeucau = 0
END
GO
/****** Object:  StoredProcedure [dbo].[Get_all_account_same_khoahoc]    Script Date: 1/1/2020 10:30:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Get_all_account_same_khoahoc](
	@idTaiKhoan int,
	@idKhoaHoc int
)
AS BEGIN 
	SELECT tk.id, tk.username, tk.img
	FROM TaiKhoan tk, ThongTinTaiKhoan tttk
	WHERE tk.id != @idTaiKhoan AND tk.id = tttk.idtaikhoan And tttk.idkhoahoc = @idKhoaHoc 
END
GO
/****** Object:  StoredProcedure [dbo].[GET_BieuDoTheoDoi]    Script Date: 1/1/2020 10:30:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GET_BieuDoTheoDoi](@idTaikhoan int)
AS BEGIN 
	SELECT id, idTaikhoan, Thu2, Thu3, Thu4, Thu5, Thu6, Thu7, ChuNhat, NgayBatDau
	FROM BieuDoTheoDoi
	WHERE idTaikhoan = @idTaikhoan
END
GO
/****** Object:  StoredProcedure [dbo].[Get_CapDo]    Script Date: 1/1/2020 10:30:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Get_CapDo] 
AS BEGIN 
	SELECT id, tencapdo
	FROM CapDo
END
GO
/****** Object:  StoredProcedure [dbo].[Get_DSBaiHoc_ById]    Script Date: 1/1/2020 10:30:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Get_DSBaiHoc_ById] (
	@idKhoaHoc int
) 
AS BEGIN 
	SELECT id, tenbaihoc, idkhoahoc
	FROM DSBaiHoc
	WHERE idkhoahoc = @idKhoaHoc
END
GO
/****** Object:  StoredProcedure [dbo].[Get_DSBaiHocPass]    Script Date: 1/1/2020 10:30:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Get_DSBaiHocPass](@idTTTaiKhoan int)
AS BEGIN
	SELECT id, idTTTaiKhoan, idBaiHoc
	FROM DSBaiHocPass_Of_TaiKhoan
	WHERE idTTTaiKhoan = @idTTTaiKhoan 
END
GO
/****** Object:  StoredProcedure [dbo].[Get_DSBanBe_By_IdAccount]    Script Date: 1/1/2020 10:30:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Get_DSBanBe_By_IdAccount](@idAccount int)
AS BEGIN
	SELECT be.id, be.idbanbe, be.idaccount, be.yeucau, tk.username, tk.img
	FROM DSBanBe be, TaiKhoan tk
	WHERE be.idaccount = @idAccount AND be.idbanbe = tk.id
END
GO
/****** Object:  StoredProcedure [dbo].[GET_DSCauHoi_Follow_IdBaiHoc_IdCapDo]    Script Date: 1/1/2020 10:30:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GET_DSCauHoi_Follow_IdBaiHoc_IdCapDo](@idBaiHoc int, @idCapDo int)
AS BEGIN 
	SELECT cauhoi.id, cauhoi.tencauhoi, idbaihoc
	FROM DSCauHoi cauhoi
	WHERE cauhoi.idcapdo = @idCapDo AND cauhoi.idbaihoc = @idBaiHoc
END
GO
/****** Object:  StoredProcedure [dbo].[GET_DSDapAn_Follow_IdBaiHoc_IdCapDo]    Script Date: 1/1/2020 10:30:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[GET_DSDapAn_Follow_IdBaiHoc_IdCapDo](@idBaiHoc int, @idCapDo int)
AS BEGIN 
	SELECT id, idcauhoi, cautraloi, dapan
	FROM DSDapAn
	WHERE idcauhoi IN (SELECT ID 
						FROM DSCauHoi 
						WHERE idbaihoc = @idBaiHoc AND idcapdo = @idcapdo
						GROUP BY ID)
END

GO
/****** Object:  StoredProcedure [dbo].[Get_DSKhoaHoc]    Script Date: 1/1/2020 10:30:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Get_DSKhoaHoc]
AS BEGIN 
	SELECT id, tenkhoahoc, imgKhoaHoc
	FROM KhoaHoc
END
GO
/****** Object:  StoredProcedure [dbo].[GET_DSKhoaHocPass_By_IdTTTaiKhoan]    Script Date: 1/1/2020 10:30:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GET_DSKhoaHocPass_By_IdTTTaiKhoan](@idTTTaiKhoan int)
AS BEGIN 
	SELECT id, idTTTaiKhoan, idKhoaHoc
	FROM DSKhoaHocPass_Of_TaiKhoan
	WHERE idTTTaiKhoan = @idTTTaiKhoan
END
GO
/****** Object:  StoredProcedure [dbo].[GET_DSThongBao]    Script Date: 1/1/2020 10:30:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GET_DSThongBao](@idaccount int)
AS BEGIN 
	SELECT id, idaccount, thongbao, docthongbao
	FROM DSThongBao
	WHERE idaccount = @idaccount AND docthongbao = 0
END

GO
/****** Object:  StoredProcedure [dbo].[Get_DsYeuCauKetBan]    Script Date: 1/1/2020 10:30:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Get_DsYeuCauKetBan](@idAccount int)
AS BEGIN
	SELECT yc.id, yc.idaccount, yc.idbanbe, tk.username, tk.img
	FROM DSYeuCauKetBan yc, TaiKhoan tk
	WHERE yc.idaccount = @idAccount AND yc.yeucau = 0 AND yc.idbanbe = tk.id 
END
GO
/****** Object:  StoredProcedure [dbo].[Get_LoaiDiemKinhNghiem]    Script Date: 1/1/2020 10:30:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Get_LoaiDiemKinhNghiem] 
AS BEGIN 
	SELECT id, diemKN
	FROM LoaiDiemKN
END
GO
/****** Object:  StoredProcedure [dbo].[GET_THONGTINTAIKHOAN]    Script Date: 1/1/2020 10:30:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GET_THONGTINTAIKHOAN] (@idTaikhoan int)
AS
BEGIN
	SELECT TOP 1 id, idkhoahoc, idcapdo, diemKN, diemKNDay, idtaikhoan, ngayhoc
	FROM ThongTinTaiKhoan 
	WHERE idtaikhoan = @idTaikhoan 
END
GO
/****** Object:  StoredProcedure [dbo].[INSERT_ACCOUNT]    Script Date: 1/1/2020 10:30:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[INSERT_ACCOUNT] (@user varchar(100), @pass varchar(100))
AS BEGIN 
	IF NOT EXISTS  (SELECT* From TaiKhoan WHERE username = @user)
	BEGIN 
		INSERT INTO TaiKhoan (username, [password], email, img)
		Values (@user, @pass, null, null)
	END
END
GO
/****** Object:  StoredProcedure [dbo].[Insert_PhanHoi]    Script Date: 1/1/2020 10:30:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Insert_PhanHoi] 
(
	@email varchar(100),
	@noidung nvarchar(max)
) 
AS BEGIN
	INSERT INTO PhanHoi (email, noidung, trangthai)
	VALUES( @email, @noidung, 0) 
END
GO
/****** Object:  StoredProcedure [dbo].[THEM_THONGTINTAIKHOAN]    Script Date: 1/1/2020 10:30:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[THEM_THONGTINTAIKHOAN] (
	@idkhoahoc int, 
	@idcapdo int, 
	@diemKN int, 
	@diemKNDay int, 
	@idtaikhoan int,
	@ngayhoc varchar(50)
)
AS BEGIN
	IF NOT EXISTS  (SELECT* From ThongTinTaiKhoan WHERE idtaikhoan = @idtaikhoan)
	BEGIN 
		INSERT INTO ThongTinTaiKhoan (idkhoahoc,idcapdo,diemKN, diemKNDay, idtaikhoan, ngayhoc) 
		VALUES (@idkhoahoc,@idcapdo,@diemKN,@diemKNDay,@idtaikhoan, @ngayhoc)
	END 
	ELSE 
	BEGIN 
		UPDATE ThongTinTaiKhoan 
		SET 
		idkhoahoc = @idkhoahoc, 
		idcapdo = @idcapdo, 
		diemKN = @diemKN, 
		diemKNDay = @diemKNDay, 
		ngayhoc = @ngayhoc
		WHERE idtaikhoan = @idtaikhoan
	END
	
END
GO
/****** Object:  StoredProcedure [dbo].[ThemBaiHocPass]    Script Date: 1/1/2020 10:30:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ThemBaiHocPass] (@idTTTaiKhoan int, @idBaiHoc int)
AS BEGIN
	IF NOT EXISTS  (SELECT* From DSBaiHocPass_Of_TaiKhoan WHERE idBaiHoc = @idBaiHoc and idTTTaiKhoan = @idTTTaiKhoan)
	BEGIN
		INSERT INTO DSBaiHocPass_Of_TaiKhoan (idTTTaiKhoan, idBaiHoc)
		VALUES (@idTTTaiKhoan, @idBaiHoc)
	END 
END
GO
/****** Object:  StoredProcedure [dbo].[UPDATE_DSThongBao_Follow_Id_IdAccount]    Script Date: 1/1/2020 10:30:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[UPDATE_DSThongBao_Follow_Id_IdAccount](@id int, @idAccount int)
AS BEGIN 
	UPDATE DSThongBao
	SET docthongbao = 1
	WHERE idaccount = @idAccount AND id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[Update_PassWord_Account]    Script Date: 1/1/2020 10:30:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Update_PassWord_Account](
	@username varchar(100),
	@currentPass varchar(100),
	@newPass varchar(100)
) 
AS BEGIN 
	UPDATE TaiKhoan SET [password] = @newPass
	WHERE username = @username AND [password]= @currentPass
END
GO
/****** Object:  StoredProcedure [dbo].[Update_ThongTinBanBe]    Script Date: 1/1/2020 10:30:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Update_ThongTinBanBe] (
@id int,
@idbanbe int,
@idaccount int,
@yeucau bit
)
AS BEGIN
	UPDATE DSBanBe 
	SET idbanbe = @idbanbe, idaccount = @idaccount, yeucau = @yeucau
	WHERE id = @id
END
GO
USE [master]
GO
