<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-90 p-b-30">
            <form #formChangePass="ngForm" (ngSubmit)="submitChangePass()" class="login100-form validate-form">
                <span class="login100-form-title p-b-40">
                    Change password
                </span>
                <div class="validate-form"
                    *ngIf="formChangePass.controls.user?.errors?.required && formChangePass.controls.user?.touched">
                    <span>(*) Username is required!</span>
                </div>
                <div class="wrap-input100 validate-input m-b-16">
                    <input class="input100 form-control" type="text" name="user" placeholder="UserName"
                        [(ngModel)]="changePassModel.username" required>
                </div>
                <div class="validate-form"
                    *ngIf="formChangePass.controls.currentpass?.errors?.required && formChangePass.controls.currentpass?.touched">
                    <span>(*) Current password is required!</span>
                </div>
                <div class="wrap-input100 validate-input m-b-20">
                    <input class="input100 form-control" type="password" name="currentpass"
                        placeholder="Current Password" [(ngModel)]="changePassModel.currentPass" required>
                </div>
                <div class="validate-form"
                    *ngIf="formChangePass.controls.newspass?.errors?.required && formChangePass.controls.newspass?.touched">
                    <span>(*) New password is required!</span>
                </div>
                <div class="wrap-input100 validate-input m-b-20">
                    <input class="input100 form-control" type="password" name="newspass" placeholder=" New Password"
                        [(ngModel)]="changePassModel.newPass" required>
                </div>
                <div class="validate-form"
                    *ngIf="formChangePass.controls.confrimnewpass?.errors?.required && formChangePass.controls.confrimnewpass?.touched">
                    <span>(*) Comfirn new password is required!</span>
                </div>
                <div class="wrap-input100 validate-input m-b-20">
                    <input class="input100 form-control" type="password" name="confrimnewpass"
                        placeholder="Confirm New Password" [(ngModel)]="changePassModel.comfirmPass" required>
                </div>
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" [disabled]="!formChangePass.valid">
                        Create New Password
                    </button>
                </div>
                <div class="flex-col-c " style="margin-top: 30px">
                    <a href="#" class="txt3 bo1 hov1">
                        Login
                    </a>
                </div>

            </form>
        </div>
    </div>
</div>