<div>
    <div>
        <mat-toolbar>Tech DEV</mat-toolbar>
    </div>
    <div class="container-display">
        <div>
            <mat-horizontal-stepper [linear]="isLinear" disableRipple="false" class="steper">
                <mat-step label="Language">
                    <mat-chip-list aria-label="Language">
                        <ng-container *ngFor="let item of listLanguage">
                            <mat-chip class="mattip language-mattip" color="primary" (click)="settingLanguage(item.id)">
                                <div class="text">{{item.name}}</div>
                            </mat-chip>
                        </ng-container>
                    </mat-chip-list>
                </mat-step>
                <mat-step label="Level">
                    <mat-chip-list aria-label="Level">
                        <ng-container *ngFor="let item of listLevel">
                            <mat-chip class="mattip level-mattip" color="accent" (click)="settingLevel(item.id)">
                                <div class="text">{{item.name}}</div>
                            </mat-chip>
                        </ng-container>
                    </mat-chip-list>
                </mat-step>
                <mat-step label="Goal Every Day">
                    <mat-chip-list aria-label="Level">
                        <ng-container *ngFor="let item of listGoalDay">
                            <mat-chip class="mattip goal-day-mattip" color="accent" (click)="settingGoalDay(item.id)">
                                <div class="text">{{item.name}}</div>
                            </mat-chip>
                        </ng-container>
                    </mat-chip-list>
                </mat-step>
            </mat-horizontal-stepper>
            <button mat-raised-button color="primary" id="BtnSave" [disabled]="resultSetting.launguage == 0 || resultSetting.level == 0 || resultSetting.goalday == 0" (click)="saveSetting()">
                Save Setting
            </button>
        </div>
    </div>
</div>