<div>
    <div>
        <mat-toolbar>Tech DEV</mat-toolbar>
    </div>
    <div class="container-display">
        <div>
            <mat-horizontal-stepper #stepper [linear]="isLinear" disableRipple="false" class="steper">
                <mat-step label="Language">
                    <mat-grid-list cols="4" rowHeight="2:2.2">
                        <ng-container *ngFor="let item of listLanguage">
                            <mat-grid-tile style="margin: 10px">
                                <mat-card class="example-card card-setting" style="width: 75%">
                                    <img mat-card-image src="{{item.imgKhoaHoc}}">
                                    <mat-card-actions>
                                        <button class="btn-card" mat-stroked-button color="primary"
                                            (click)="settingLanguage(item.id)">Vào học</button>
                                        <button class="btn-card" mat-raised-button color="primary">Đã hoàn
                                            thành</button>
                                    </mat-card-actions>
                                </mat-card>
                            </mat-grid-tile>
                        </ng-container>
                    </mat-grid-list>
                </mat-step>
                <mat-step label="Level">
                    <mat-grid-list cols="3" rowHeight="2:2">
                        <ng-container *ngFor="let item of listLevel">
                            <mat-grid-tile style="margin: 10px">
                                <mat-card class="example-card card-setting"
                                    style="width: 50%; border: 0.5px solid black;">
                                    <mat-card-title>{{item.tencapdo}}</mat-card-title>
                                    <mat-card-actions>
                                        <button class="btn-card" mat-raised-button color="primary"
                                            (click)="settingLevel(item.id)">Chọn</button>
                                    </mat-card-actions>
                                </mat-card>
                            </mat-grid-tile>
                        </ng-container>
                    </mat-grid-list>
                </mat-step>
                <mat-step label="Goal Every Day">
                    <mat-grid-list cols="3" rowHeight="2:2">
                        <ng-container *ngFor="let item of listGoalDay">
                            <mat-grid-tile style="margin: 10px">
                                <mat-card class="example-card card-setting"
                                    style="width: 50%; border: 0.5px solid black;">
                                    <mat-card-title>{{item.diemKN}} Điểm Kinh Nghiệm</mat-card-title>
                                    <mat-card-actions>
                                        <button class="btn-card" mat-raised-button color="primary"
                                            (click)="settingGoalDay(item.id)">Chọn</button>
                                    </mat-card-actions>
                                </mat-card>
                            </mat-grid-tile>
                        </ng-container>
                    </mat-grid-list>
                </mat-step>
            </mat-horizontal-stepper>
            <button mat-raised-button color="primary" id="BtnSave"
                [hidden]="resultSetting.idkhoahoc == 0 || resultSetting.idcapdo == 0 || resultSetting.diemKN == 0"
                (click)="saveSetting()">
                Save Setting
            </button>
        </div>
    </div>
</div>