.container-display {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.steper {
    height: 500px;
}

.mattip {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.language-mattip {
    background-color: #e88989;
}

.level-mattip {
    background-color: #90a7e2;
}

.goal-day-mattip {
    background-color: #60d085;
}