<div>
    <div>
        <mat-toolbar>Tech DEV</mat-toolbar>
    </div>
    <div class="container-display">
        <div>
            <mat-horizontal-stepper [linear]="isLinear" class="steper">
                <mat-step label="Language">
                    <mat-chip-list aria-label="Fish selection">
                        <mat-chip class="mattip" color="primary" selected>C#</mat-chip>
                        <mat-chip class="mattip" color="primary" selected>Angular</mat-chip>
                        <mat-chip class="mattip" color="accent" selected>Sql Sever</mat-chip>
                        <mat-chip class="mattip" color="primary" selected>TyepScript</mat-chip>
                    </mat-chip-list>
                </mat-step>
                <mat-step label="Level">
                    xxxx
                </mat-step>
                <mat-step label="Goal Every Day">
                    xxxxx
                </mat-step>
            </mat-horizontal-stepper>
        </div>

    </div>


</div>