<nav class="navbar navbar-inverse">
    <div class="container-fluid" style="display: block">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="/home/main/course-list">
                <img width="60xp" src="../../assets/image/logo.PNG">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav" style="display: block;">
                <li class="active"><a routerLink="/home/main/course-list">Trang chủ</a></li>
                <!-- <li><a href="">Blog</a></li> -->
                <!-- <li><a href="#">Projects</a></li> -->
                <li><a routerLink="/home/main/contact">Liên hệ</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right" style="display: block;">
                <li class="notication">
                    <button mat-button [matMenuTriggerFor]="menuNotication">
                        <mat-icon matBadge="{{countNotication}}" matBadgeColor="warn">home</mat-icon>
                    </button>
                    <mat-menu #menuNotication="matMenu">
                        <mat-card class="example-card">
                            <mat-card-header>
                                <mat-card-title style="font-size: 14px; border-bottom: 1px solid;">Thông báo của bạn
                                </mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <mat-list *ngFor="let item of listNotication">
                                    <mat-list-item matRipple (click)="openListNotication()">{{item.thongbao}}
                                    </mat-list-item>
                                    <mat-divider></mat-divider>
                                </mat-list>
                            </mat-card-content>
                        </mat-card>

                    </mat-menu>
                </li>
                <li style="margin-right:5px" (click)="logout()"><img width="40px"
                        src="../../assets/image/icon-logout.png" title="Logout"></li>

                <li>
                    <button mat-button [matMenuTriggerFor]="menuAccount">
                        <img width="40px" src="../../assets/image/icon-login.png">
                    </button>
                    <mat-menu #menuAccount="matMenu">
                        <button mat-menu-item>Thông tin tài khoản</button>
                        <button mat-menu-item (click)="forgotpass()">Đổi Mật Khẩu</button>
                        <button mat-menu-item (click)="setting()">Cài đặt khóa học</button>
                    </mat-menu>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-8 text-left">
            <!-- content -->
            <router-outlet></router-outlet>
        </div>
        <div class="col-sm-4 sidenav">
            <app-target-day></app-target-day>
            <mat-card class="example-card" style="margin: 10px 10px 10px 10px; border-radius: 15px; height: 350px;">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Bảng xếp hạng </mat-card-title>
                </mat-card-header>
                <mat-card-content>

                    <mat-tab-group mat-stretch-tabs>
                        <mat-tab label="Tuần này">
                            <mat-list style="height: 155px; overflow: hidden;">
                                <ng-container *ngFor="let item of listFriend">
                                    <mat-list-item>
                                        <img style="margin-right:5px" [src]="pathImg + 'icon-login.png'" width="40px">
                                        <span>{{item.username}} </span>
                                        <span style="margin-left: 140px;">50 KN</span>
                                    </mat-list-item>
                                    <mat-divider></mat-divider>
                                </ng-container>
                            </mat-list>
                        </mat-tab>
                        <mat-tab label="Tháng này">
                            <mat-list style="height: 155px; overflow: hidden;">
                                <ng-container *ngFor="let item of listFriend">
                                    <mat-list-item>
                                        <img style="margin-right:5px" [src]="pathImg + 'icon-login.png'" width="40px">
                                        <span>{{item.username}} </span>
                                        <span style="margin-left: 140px;">50 KN</span>
                                    </mat-list-item>
                                    <mat-divider></mat-divider>
                                </ng-container>
                            </mat-list>
                        </mat-tab>
                        <mat-tab label="Tổng cộng">
                            <mat-list style="height: 155px; overflow: hidden;">
                                <ng-container *ngFor="let item of listFriend">
                                    <mat-list-item>
                                        <img style="margin-right:5px" [src]="pathImg + 'icon-login.png'" width="40px">
                                        <span>{{item.username}} </span>
                                        <span style="margin-left: 140px;">50 KN</span>
                                    </mat-list-item>
                                    <mat-divider></mat-divider>
                                </ng-container>
                            </mat-list>
                        </mat-tab>
                    </mat-tab-group>
                    <button type="button" class="btn btn-info" style="width: 300px;border-radius: 5px;height: 40px;"
                        (click)="openDialogFriend()">
                        <span class="glyphicon glyphicon-search"></span> <b style="font-size: 12px;">Tìm kiếm bạn bè</b>
                    </button>
                </mat-card-content>
            </mat-card>
            <mat-card class="example-card" style="margin: 10px 10px 10px 10px; border-radius: 15px;">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Theo dõi TechDEV</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <a href="https://www.facebook.com/huynhquangminh.cse" target="_blank" class="fa fa-facebook"></a>
                    <a href="https://www.facebook.com/huynhquangminh.cse" target="_blank" class="fa fa-twitter"></a>
                    <a href="https://www.facebook.com/huynhquangminh.cse" target="_blank" class="fa fa-instagram"></a>
                    <a href="https://www.youtube.com/channel/UCaThRmArdCULDyKebIYq7yw?view_as=subscriber"
                        target="_blank" class="fa fa-youtube"></a>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
<footer class="container-fluid text-center">
    <ul>
        <li style="font-size: 20px;">Website dậy lập trình từ căn bản tới nâng cao</li>
        <li style="font-size: 15px;">Phone: 084-4324-3424</li>
        <li style="font-size: 15px;">Gmail: laptrinhcanban@gmail.com</li>
        <li style="font-size: 15px;">Địa chỉ: 40 Lê lợi, Phường 7, TP.Hồ Chí Minh</li>
    </ul>
</footer>