<!-- <router-outlet></router-outlet> -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid" style="display: block">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img width="60xp" src="../../assets/image/logo.PNG">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav" style="display: block;">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Blog</a></li>
                <!-- <li><a href="#">Projects</a></li> -->
                <li><a href="#">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!-- <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> -->
                <li><span class="glyphicon glyphicon-log-in"><img width="40px"
                            src="../../assets/image/User_Avatar-512.png"></span></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-8 text-left">
            <!-- content -->
            <router-outlet></router-outlet>
        </div>
        <div class="col-sm-4 sidenav">
            <app-target-day></app-target-day>
            <mat-card class="example-card" style="margin: 10px 10px 10px 10px; border-radius: 15px; height: 250px;">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Bảng xếp hạng </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-tab-group disableRipple="true">
                        <mat-tab label="Tuần này">
                            <mat-list style="height: 150px;">
                                <mat-list-item>MinhHuynh : 50 KN</mat-list-item>
                                <mat-divider></mat-divider>
                                <mat-list-item>TrungHuynh : 34 KN</mat-list-item>
                                <mat-divider></mat-divider>
                            </mat-list>
                        </mat-tab>
                        <mat-tab label="Tháng này">
                            <mat-list style="height: 150px;">
                                <mat-list-item>MinhHuynh : 50 KN</mat-list-item>
                                <mat-divider></mat-divider>
                                <mat-list-item>TrungHuynh : 34 KN</mat-list-item>
                                <mat-divider></mat-divider>
                            </mat-list>
                        </mat-tab>
                        <mat-tab label="Tổng cộng">
                            <mat-list style="height: 150px;">
                                <mat-list-item>MinhHuynh : 50 KN</mat-list-item>
                                <mat-divider></mat-divider>
                                <mat-list-item>TrungHuynh : 34 KN</mat-list-item>
                                <mat-divider></mat-divider>
                            </mat-list>
                        </mat-tab>
                    </mat-tab-group>
                </mat-card-content>
            </mat-card>
            <mat-card class="example-card" style="margin: 10px 10px 10px 10px; border-radius: 15px;">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Theo dõi TechDEV</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <button class="button-fllow" mat-raised-button color="primary">Facebook</button>
                    <button class="button-fllow" mat-raised-button color="accent">instagram</button>
                    <button class="button-fllow" mat-raised-button color="warn">twitter</button>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
<footer class="container-fluid text-center">
    <ul class="nav navbar-nav" style="display: block;">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</footer>