.mattip {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.language-mattip {
    background-color: #e88989;
}

.listCourse-content {
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
}