<mat-tab-group mat-stretch-tabs>
    <mat-tab label="Bạn cùng khóa">
        <mat-list style="height: 300px;">
            <ng-container *ngFor="let item of listAccountSameCoures">
                <mat-list-item>
                    <img style="margin-right:5px" [src]="pathImg + 'icon-login.png'" width="40px">
                    <span>{{item.username}} </span>
                    <button style="margin-left: 300px;" mat-button color="primary">Theo dõi</button>
                </mat-list-item>
                <mat-divider></mat-divider>
            </ng-container>
        </mat-list>
    </mat-tab>
    <mat-tab label="Bạn bè theo dõi">
        <mat-list style="height: 300px;">
            <ng-container *ngFor="let item of listFriend">
                <mat-list-item>
                    <img style="margin-right:5px" [src]="pathImg + 'icon-login.png'" width="40px">
                    <span>{{item.username}} </span>
                    <span>
                        <button mat-button color="primary" style="margin-left: 300px;" *ngIf="item.yeucau">Bạn
                            bè</button>
                        <button mat-button color="primary" style="margin-left: 300px;" *ngIf="!item.yeucau">Đang theo
                            dõi</button>
                    </span>
                </mat-list-item>
                <mat-divider></mat-divider>
            </ng-container>
        </mat-list>
    </mat-tab>
    <mat-tab label="Yêu cầu kết bạn">
        <mat-list style="height: 300px;">
            <ng-container *ngFor="let item of listRequest">
                <mat-list-item>
                    <img style="margin-right:5px" [src]="pathImg + 'icon-login.png'" width="40px">
                    <span>{{item.username}} </span>
                    <span style="margin-left: 250px;">
                        <button mat-button color="primary">Đồng ý</button>
                        <button mat-button color="warn" (click)="deleteRequest(item.idbanbe, item.idaccount)">Xóa</button>
                    </span>
                </mat-list-item>
                <mat-divider></mat-divider>
            </ng-container>
        </mat-list>
    </mat-tab>
</mat-tab-group>

<button style="float: right;" mat-raised-button color="primary" (click)="closeDialog()">Đóng</button>