<div style="font-size: 25px; text-align: center; margin: 5px;">
    <span>
        <mat-icon>warning</mat-icon> Thông báo
    </span>
</div>
<div style="font-size: 20px; text-align: center; margin: 5px;">
    <span>
        Bạn có muốn xóa không?
    </span>
</div>
<div style="float: right; ">
    <button style="margin-right: 5px;" mat-raised-button color="primary" (click)="huy()">Không</button>
    <button style="margin-right: 5px;" mat-raised-button color="warn" (click)="dongy()">Có</button>
</div>