<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-90 p-b-30">
            <form #formLogin="ngForm" (ngSubmit)="submitLogin()" class="login100-form validate-form">
                <span class="login100-form-title p-b-40">
                    Login
                </span>
                <div class="wrap-input100 validate-input m-b-16">
                    <input class="input100" type="text" name="username" placeholder="UserName"
                        ([ngModel])="loginModel.username">
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 validate-input m-b-20">
                    <span class="btn-show-pass">
                        <i class="fa fa fa-eye"></i>
                    </span>
                    <input class="input100" type="password" name="pass" placeholder="Password"
                        ([ngModel])="loginModel.password">
                    <span class="focus-input100"></span>
                </div>
                <div class="container-login100-form-btn">
                    <button type="submit" class="login100-form-btn">
                        Login
                    </button>
                </div>
                <div class="flex-col-c p-t-224">
                    <span class="txt2 p-b-10">
                        Don’t have an account?
                    </span>
                    <a href="#" class="txt3 bo1 hov1">
                        Sign up now
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>